@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

#hero {
  width: 100%;
  height: 900px;
  background-image: url("/img/2024_web_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("/img/2024_moblie_home-14.png");
  }
}

#countdown {
  width: 100%;
  height: 320px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url("/img/icidd2024_home_timing_background-v02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
