@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/img/2024_web_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  body {
    background-image: url("/img/2024_moblie_home-14.png");
  }
}
